<div style="width:100%" layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z1"
              md-component-id="radio-nav"
              md-is-locked-open="true" >
    <!-- md-is-locked-open="$mdMedia('gt-sm')" -->
    <!-- <md-toolbar class="md-toolbar-tools md-whiteframe-z1"
                layout="row">
      <md-button class="md-icon-button"
                 aria-label="Settings"
                 >
        <md-icon>settings_input_antenna</md-icon>
      </md-button>
    </md-toolbar> -->

    <md-list>
        <md-list-item ng-repeat="(name, settings) in d.radio.data.settings"
                      layout="row" >
                      <!-- ui-sref="{{page.state}}"> -->
                      <!-- ng-click="c.closeNavDrawer()" -->

            <!-- <md-icon >{{page.icon}}</md-icon> -->
            <p class="md-body-2">
              {{name}}
            </p>
        </md-list-item>
    </md-list>
  </md-sidenav>
  <md-progress-linear
    ng-show="d.radio == null && d.error != null"
    md-mode="indeterminate"></md-progress-linear>

  <div ng-show="d.radio != null"
       flex
       layout="column"
       tabIndex="-1"
       role="main"
       class="card-holder">
    <md-card>
        <md-content flex id="content">
          <div layout="row" flex style="width:50%">
            <br />
            <md-content layout-padding class="autoScroll">
              <md-input-container ng-repeat="(name, setting) in d.radio.data.settings">
                <label>{{name}}</label>
                <input ng-model="setting" type="text">
              </md-input-container>
            </md-content>
          </div>
        </md-content>

    </md-card>

    <md-card>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><span>Transivers</span></h2>
          <span flex></span>
          <md-button class="md-icon-button"
                     ng-class="{'md-raised md-primary' : d.tableView }"
                     ng-click="d.tableView = true">
            <md-icon>view_list</md-icon>
          </md-button>
          <md-button ng-selected="!d.tableView" class="md-icon-button"
                     ng-class="{'md-raised md-primary' : !d.tableView }"
                     ng-click="d.tableView = false">
            <md-icon>view_module</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content layout-padding flex id="content">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="{{$index}}" ng-repeat="trans in d.radio.data.transcevers">
            <md-table-container ng-if="d.tableView">
              <table md-table
                     md-row-select="true"
                     multiple="true"
                     ng-model="d.selected"
                     class="md-primary"
                     md-progress="promise">
                <thead md-head
                       md-order="query.order"
                       md-trigger="onorderchange">
                  <tr md-row
                      md-auto-select="true">
                    <th md-column
                        md-numeric
                        order-by="{{fieldName}}"
                        ng-repeat="(fieldName, field) in d.radio.map.items.channel.fields">
                      <span>{{field.label}} {{field.units}}</span>
                    </th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row
                      md-auto-select
                      md-select="channel" md-select-id="label"
                      ng-repeat="channel in trans.channels | limitTo: d.channelLimit: (trans.page - 1) * d.channelLimit">
                    <td md-cell
                        ng-repeat="(fieldName, field) in d.radio.map.items.channel.fields">
                      {{d.radio.channelFieldValue( trans, channel, fieldName)}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination ng-if="d.tableView"
              md-limit="d.channelLimit"
              md-limit-options="[10, 25, 50]"
              md-page="trans.page"
              md-total="{{trans.channels.length}}"
              md-page-select>
            </md-table-pagination>
            <md-list ng-if="!d.tableView">
              <md-list-item class="md-3-line"
                ng-repeat="channel in trans.channels | limitTo: d.channelLimit: (trans.page - 1) * d.channelLimit">
                <div class="md-list-item-text">
                  <h4>{{$index}}</h4>
                  <h3 class="md-title">{{d.radio.channelFieldValue( trans, channel, "name")}}</h3>
                  <p>{{d.radio.channelFieldValue( trans, channel, "frequency")}}</p>
                </div>
                <md-button class="md-icon-button md-secondary" aria-label="Edit">
                  <md-icon>create</md-icon>
                </md-button>
              </md-list-item>
            </md-list>
          </md-tab>
        </md-tabs>
      </md-content>
    </md-card>
  </div>
</div>
